Jinja2==2.7.2
Mako==0.9.1
MarkupSafe==0.19
PasteDeploy==1.5.2
Pygments==1.6
SQLAlchemy==0.9.4
WTForms==1.0.5
WebOb==1.3.1
WebTest==2.0.15
amqp==1.4.6
anyjson==0.3.3
beautifulsoup4==4.3.2
billiard==3.3.0.19
celery==3.1.17
cmd2==0.6.7
json-rpc==1.6.0
jsonrpclib-pelix==0.3.0
kombu==3.0.24
nose==1.3.3
pyparsing==2.0.2
pyramid==1.9.1
pyramid-debugtoolbar==2.0.2
pyramid-jinja2==1.10
pyramid-layout==0.8
pyramid-mako==1.0a3
pyramid-rpc==0.5.2
pyramid-tm==0.7
pytz==2014.10
redis==2.10.3
repoze.lru==0.6
seat==0.2.4
six==1.7.3
transaction==1.4.3
translationstring==1.1
venusian==1.0a8
waitress==0.8.8
zope.deprecation==4.1.1
zope.interface==4.1.1
zope.sqlalchemy==0.7.4
-e git+https://github.com/berlin-open-wireless-lab/pyuci.git#egg=pyuci
pyramid-ldap3==0.2.5
WSGIProxy2==0.4.2
cornice
passlib
argon2_cffi
