{% extends main_template %}

{% block content %}
<form class="openwifi form-inline" action="{{ save_url }}" method="POST">
    {{ form.name(class="form-control", placeholder="Name") }}
    {{ form.address(class="form-control", placeholder="address") }}
    {{ form.hardware(class="form-control", placeholder="Hardware Type") }}
    {{ form.radios_2g(class="form-control", placeholder="number of 2ghz radios") }}
    {{ form.radios_5g(class="form-control", placeholder="number of 5ghz radios") }}
    <button type="submit" name="form.submitted" class="btn btn-default">Submit</button>
    <!-- <input type="submit" class="form-control" name="form.submitted" value="Add" /> -->
</form>
{% endblock %}
