{% extends main_template %}

{% block content %}
  <table class="table">
  {% for item in items -%}
    {% if loop.first %}
      <thead>
        <tr>
          {%- for field in table_fields %}
            <th>{{ field }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
    {% endif %}
        <tr>
        {% set rowloop = loop %}
        {%- for field in table_fields %}
		{%- if field == "configuration" -%}
		  <th>
		  {%- for action, url in actions.items() -%}
		   <a class="btn btn-primary" href="{{ url }}/{{ item[idfield] }}" >{{action}}</a>
		  {%- endfor -%} 
		  </th>
		{%- else -%}
		  <th><a href="{{ domain }}/{{ item[idfield] }}" >{{ item[field] }}</a></th>
		{%- endif -%}
        {%- endfor -%}
        </tr>
    {%- if loop.last -%}
      </tbody>
    {%- endif -%}
  {%- else -%}
  <p class="lead">no data</p>
  {%- endfor -%}
  </table>
{% endblock %}
