<!DOCTYPE html>
<html>
  <head>
  <title>{{layout.page_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{request.static_path('openwifi:static/css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
    <link href="{{request.static_path('openwifi:static/css/base_layout.css')}}" rel="stylesheet">
    {% block additionalheader %}{% endblock %}
  </head>
  <body>

    <!-- JavaScript plugins (requires jQuery) -->
    <script src="{{request.static_path('openwifi:static/js/jquery.js')}}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{request.static_path('openwifi:static/js/bootstrap.min.js')}}"></script>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
       <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynav-collapse">
	  <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">OpenWifi</a>
	</div>

        <div class="collapse navbar-collapse" id="mynav-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{request.route_path('home')}}">Home</a></li>
            <li><a href="{{request.route_path('openwrt_list')}}">OpenWrt</a></li>
            <li><a href="{{request.route_path('confarchive')}}">Archive</a></li>
            <li><a href="{{request.route_path('templates')}}">Templates</a></li>
            <li><a href="{{request.route_path('sshkeys')}}">SSH Keys</a></li>
            <li><a href="{{request.route_path('logout')}}">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
      <div id="content">{% block content %}{% endblock %}</div>
    </div>
  </body>
</html>

