{% extends main_template %}

{% block content %}

<form action="/file_upload" method="post" accept-charset="utf-8"
      enctype="multipart/form-data">

    <label for="file">File</label>
    <input id="file" name="file" type="file" value="" />

    <input type="submit" value="submit" />
</form>

{% endblock %}
