{% extends main_template %}

{% block content %}
<form class="openwifi form-inline" action="{{ save_url }}" method="POST">
    {{ form.name(class="form-control", placeholder="Name") }}
    {{ form.address(class="form-control", placeholder="address") }}
    {{ form.distribution(class="form-control", placeholder="Distribution") }}
    {{ form.version(class="form-control", placeholder="Version") }}
    {{ form.uuid(class="form-control", placeholder="UUID") }}
    {{ form.login(class="form-control", placeholder="LOGIN") }}
    {{ form.password(class="form-control", placeholder="PASSWORD") }}
    <button type="submit" name="form.submitted" class="btn btn-default">Submit</button>
    <!-- <input type="submit" class="form-control" name="form.submitted" value="Add" /> -->
</form>
{% endblock %}
