{% extends main_template %}

{% block content %}
  <table class="table">
  {% for item in items -%}
    {% if loop.first %}
      <thead>
        <tr>
          {%- for field in table_fields %}
            <th>{{ field }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
    {% endif %}
        <tr>
        {% set rowloop = loop %}
        {%- for field in table_fields %}
		{% if field == "configuration" %}
		  <th><a href="openwrt_edit_config/{{ item[idfield] }}" > config </a></th>
		{% else %}
		  <th><a href="{{ domain }}/{{ item[idfield] }}" >{{ item[field] }}</a></th>
		{% endif %}
        {% endfor %}
        </tr>
    {% if loop.last %}
      </tbody>
    {% endif %}
  {% else %}
  <p class="lead">no data</p>
  {%- endfor %}
  </table>
  <a class="btn btn-primary" href="/openwrt_add">Add</a>
{% endblock %}
