{% extends main_template %}

{% block content %}
<form class="openwifi" action="{{ save_url }}" method="POST">
    {% for field in form %}
      <div class="form-group">
        {{ field.label }}
        {{ field(class='form-control')}}
      </div>
    {% endfor %}
    <button type="submit" name="form.submitted" class="btn btn-default">Save</button>
    <!-- <input type="submit" class="form-control" name="form.submitted" value="Add" /> -->
</form>
{% endblock %}
