{% extends main_template %}

{% block content %}
  <table class="table">
  {% for item in items -%}
    {% if loop.first %}
      <thead>
        <tr>
          {%- for field in table_fields %}
            <th>{{ field }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
    {% endif %}
        <tr>
        {% set rowloop = loop %}
        {%- for field in table_fields %}
          <td>{{ item[field] }}</td>
        {% endfor %}
        </tr>
    {% if loop.last %}
      </tbody>
    {% endif %}
  {%- endfor %}
  </table>
{% endblock %}
