{% extends main_template %}

{% block content %}
<form class="openwifi form-inline" action="{{ save_url }}" method="POST">
    {{ form.key(class="form-control", placeholder="Key") }}
    {{ form.comment(class="form-control", placeholder="Comment") }}
    <button type="submit" name="form.submitted" class="btn btn-default">Submit</button>
    <!-- <input type="submit" class="form-control" name="form.submitted" value="Add" /> -->
</form>
{% endblock %}
