{% extends main_template %}

{% block content %}
<p>
<h1> Templates </h1>
  <table class="table">
  {% for item in items -%}
    {% if loop.first %}
      <thead>
        <tr>
          {%- for field in table_fields %}
            <th>{{ field }}</th>
          {% endfor %}
	  <th> Actions </th>
        </tr>
      </thead>
      <tbody>
    {% endif %}
        <tr>
        {% set rowloop = loop %}
        {%- for field in table_fields %}
                  {%- if field == 'metaconf' -%}
		  <td><pre id='{{ item['id'] }}'></pre><script>var dump = JSON.stringify(JSON.parse('{{ item[field] | safe }}'),null,4);
		  				   $('#'+'{{ item['id'] }}').html(dump);</script></td>
		  {%- elif field == 'openwrt' -%}
		  	<td>
		  	{%- for openwrt in openwrts[item['id']] -%}
				<a href='{{request.route_path('openwrt_list')}}/{{ openwrt['uuid'] }}'>{{ openwrt['name'] }} / {{ openwrt['uuid'] }}</a> <br>
			{%- endfor -%}
			</td>
		  {%- else -%}
		  <td>{{ item[field] }}</td>
		  {%- endif -%}
        {% endfor %}
		<td>
			<a href="{{request.route_path('templates_assign', id=item['id']) }}" class="btn btn-primary">Assign Nodes</a>
			<a href="{{request.route_path('templates_edit', id=item['id']) }}" class="btn btn-primary">Edit</a>
			<a href="{{request.route_path('templates_delete', id=item['id']) }}" class="btn btn-danger">Delete</a>
			{%- for action in actions -%}
				<a href="{{request.route_path('templates')}}/{{ item['id'] }}/{{ action }}" class="btn btn-primary">{{ action }}</a>
			{%- endfor -%}
		</td>
        </tr>
    {% if loop.last %}
      </tbody>
    {% endif %}
  {% else %}
  <p class="lead">no data</p>
  {%- endfor %}
  </table>
<a class="btn btn-primary" href="{{request.route_path('templates_add')}}">Add Template</a>

</p>
{% endblock %}
