{% extends main_template %}

{% block content %}
<script>

var packageId = 0;
var delPackageId = 0;
var delConfId = 0;
var confId = 0;
var optionId = 0;
var pastePackIdS;
var pasteConfPrefix;
var pasteIsSubconf;

function addPackage() 
{
	var packIdStr = "pack"+packageId.toString();
	var packageString = "<p>";
	packageString += "<div id='panel"+packIdStr+"' class='panel panel-success'>";
	packageString += "<div class='panel-heading'>";
	packageString += "Package";
	packageString += " <input name=\"packageA"+packageId.toString()+".Add\" style='margin-left:5em;' onchange='checkCreate(\""+packIdStr+"\");' type='checkbox' checked id='addCheck"+packIdStr+"'>";
	packageString += "<label for='addCheck"+packIdStr+"' >create if missing</label>";
	packageString += "<button class='btn btn-danger btn-sm' style='float:right;' onclick='delPanel(\""+packIdStr+"\");'><span class='glyphicon glyphicon-remove'></span></button>";
	packageString += "</div>";
	packageString += "<div class='panel-body'>";
	packageString += "<div ";
	packageString += "id='"+packIdStr+"Add' ";
	packageString += "class='package'>";
	packageString += "<input  name=\"packageA"+packageId.toString()+".Name\"type='text' class='form-control' placeholder='Package Name'>";
	packageString += "<button type='button' class='btn btn-success' onclick='addConf(\"#"+packIdStr+"Add\",\"packageA"+packageId.toString()+"\",false);' >Add Config</button>";
	packageString += "<button type='button' class='btn btn-success' onclick='addConfPaste(\"#"+packIdStr+"Add\",\"packageA"+packageId.toString()+"\",false);' >Add Config by Pasting</button>";
	packageString += "<button type='button' class='btn btn-danger' onclick='delConf("+packageId+");' >Del Config</button>";
	packageString += "</div>";
	packageString += "<div id='"+packIdStr+"Del'>";
	packageString += "</div>";
	packageString += "</div>";
	packageString += "</div>";
	packageString += "</p>";
	$('#metaconfAdd').append(packageString);
	packageId++;
};

function delPackage() 
{
	var packIdStr = "packDel"+delPackageId.toString();
	var packageString = "<p>";
	packageString += "<div id='panel"+packIdStr+"' class='panel panel-danger'>";
	packageString += "<div class='panel-heading'>";
	packageString += "Package";
	packageString += "<button class='btn btn-danger btn-sm' style='float:right;' onclick='delPanel(\""+packIdStr+"\");'><span class='glyphicon glyphicon-remove'></span></button>";
	packageString += "</div>";
	packageString += "<div class='panel-body'>";
	packageString += "<div ";
	packageString += "id='"+packIdStr+"' ";
	packageString += "class='package'>";
	packageString += "<input name=\"packageD"+delPackageId.toString()+".Name\" type='text' class='form-control' placeholder='Package Name'>";
	packageString += "</div>";
	packageString += "</div>";
	packageString += "</div>";
	packageString += "</p>";
	$('#metaconfDel').append(packageString);
	delPackageId++;
};

function delConf(packId) 
{
	var confIdStr = "confDel"+delConfId.toString();
	var confString = "<p>";
	confString += "<div id='panel"+confIdStr+"' class='panel panel-danger'>";
	confString += "<div class='panel-heading'>";
	confString += "Conf";
	confString += "<select name=\"packageA"+packId.toString()+".configD"+delConfId.toString()+".DelType\" id='confDelMatchType"+delConfId.toString()+"' class='form-control' name='createtype'>";
	confString += "<option value='always'>always</option>";
	confString += "<option value='name'>name</option>";
	confString += "<option value='type'>type</option>";
	confString += "<option value='both'>both</option>";
	confString += "</select>";
	confString += "<button class='btn btn-danger btn-sm' style='float:right;' onclick='delPanel(\""+confIdStr+"\");'><span class='glyphicon glyphicon-remove'></span></button>";
	confString += "</div>";
	confString += "<div class='panel-body'>";
	confString += "<div ";
	confString += "id='"+confIdStr+"' ";
	confString += "class='conf'>";
	confString += "<label for='confDelType"+delConfId.toString()+"'>Type</label>";
	confString += "<input name=\"packageA"+packId.toString()+".configD"+delConfId.toString()+".Name\" id='confDelName"+delConfId.toString()+"' type='text' class='form-control' placeholder='Config Name'>";
	confString += "<label for='confDelName"+delConfId.toString()+"'>Name</label>";
	confString += "<input name=\"packageA"+packId.toString()+".configD"+delConfId.toString()+".Type\" id='confDelType"+delConfId.toString()+"' type='text' class='form-control' placeholder='Config Type'>";
	confString += "</div>";
	confString += "</div>";
	confString += "</div>";
	confString += "</p>";
	$("#pack"+packId.toString()+"Del").append(confString);
	delConfId++;
};


function addConf(packIdS, confPrefix, isSubconf)
{	
	var confIdStr = "conf"+confId.toString();
	var confString = "<p>";
	var confPrefixName = confPrefix + ".configA"+confId.toString();
	if (isSubconf)
	{
		$(packIdS+"Button").prop("disabled",true);
	}
	confString += "<div id='panel"+confIdStr+"' class='panel panel-success'>";
	confString += "<div class='panel-heading'>";
	confString += "<div class='form-group form-inline'>";
	confString += "Configuration";
	confString += "<div style='margin-left:5em;' class='input-group'>";
	confString += "<span class='input-group-addon' >";
	confString += "<input name=\""+confPrefixName+".Add\" type='checkbox' onchange='checkCreate(\""+confIdStr+"\");' checked id='addCheck"+confIdStr+"'>";
	confString += "</span>";
	confString += "<span class='input-group-addon' >";
	confString += "<label for='addCheck"+confIdStr+"' >create if missing</label>";
	confString += "</span>";
	confString += "<select name=\""+confPrefixName+".CreateType\" id='confCreateMatchType' class='form-control' name='createtype'>";
	confString += "<option value='always'>always</option>";
	confString += "<option value='name'>name</option>";
	confString += "<option value='type'>type</option>";
	confString += "<option value='both'>both</option>";
	confString += "</select>";
	confString += "</div>";
	confString += "<button class='btn btn-danger btn-sm' style='float:right;' onclick='"
	if (isSubconf)
	{
		confString += "$(\""+packIdS+"Button\").prop(\"disabled\",false);delPanel(\""+confIdStr+"\");"
	}
	else
	{
		confString += "delPanel(\""+confIdStr+"\");"
	}
	confString += "'><span class='glyphicon glyphicon-remove'></span></button>";
	confString += "</div>";
	confString += "</div>";
	confString += "<div class='panel-body'>";
	confString += "<div ";
	confString += "id='"+confIdStr+"' ";
	confString += "class='package'>";
	confString += "<div class='form-group form-inline'>";
	confString += "<label for='confAddName"+confId.toString()+"'>Name</label>";
	confString += "<input name=\""+confPrefixName+".Name\" id='confAddName"+confId.toString()+"' type='text' class='form-control' placeholder='Config Name'>";
	confString += "<label for='confaddtype"+confId.toString()+"'>Type</label>";
	confString += "<input name=\""+confPrefixName+".Type\" id='confaddtype"+confId.toString()+"' type='text' class='form-control' placeholder='Config Type'>";
	confString += "<label for='confAddType"+confId.toString()+"'>Match</label>";
	confString += "<select id='confMatchType' class='form-control' name='"+confPrefixName+".matchtype'>";
	confString += "<option value='name'>name</option>";
	confString += "<option value='type'>type</option>";
	confString += "</select>";
	confString += "<label for='confMatchCount'>Count</label>";
	confString += "<input name=\""+confPrefixName+".Count\" list='mclist' id='confMatchCount' type='text' class='form-control' placeholder='all'>";
	confString += "</div>";
	confString += "<div class='form-group'>";
	confString += "<button type='button' class='btn btn-success' onclick='addOption(\"#"+confIdStr+"Add\",\""+confPrefixName+"\");' >Add Option</button>";
	confString += "<button type='button' class='btn btn-danger' onclick='addDelOption(\"#"+confIdStr+"Del\",\""+confPrefixName+"\");' >Del Option</button>";
	confString += "<button type='button' class='btn btn-success' id=\""+confIdStr+"NextButton\" onclick='addConf(\"#"+confIdStr+"Next\",\""+confPrefixName+"\",true);' >Add Config</button>";
	confString += "</div>";
	confString += "<div class='bg-success' id='"+confIdStr+"Add'>";
	confString += "</div>";
	confString += "<div class='bg-danger' id='"+confIdStr+"Del'>";
	confString += "</div>";
	confString += "<div id='"+confIdStr+"Next'>";
	confString += "</div>";
	confString += "</div>";
	confString += "</div>";
	confString += "</div>";
	confString += "</p>";
	$(packIdS).append(confString);
	confId++;
};

function addConfPaste(packIdS, confPrefix, isSubconf)
{
	pastePackIdS = packIdS;
	pasteConfPrefix = confPrefix;
	pasteIsSubconf = isSubconf;
	$('#pasteModal').modal();
}

function removeQuotes(inputString)
{
	return inputString.replace(/[\'\"]/g,"");
}

function AddConfPasteApply()
{
	var linesOfPastedText = $("#uciPaste").val().split('\n');
	var inConfig = false;
	var curConfId;
	for(var i = 0; i < linesOfPastedText.length; i++)
	{

		// replace tabs with spaces
		curLine = linesOfPastedText[i].replace(/\t/g," ");
		// remove multiple spaces
		curLine = curLine.replace(/ +(?= )/g,'');
		// remove spaces at beginning
		curLine = curLine.replace(/^ +/g,'');
		if (curLine === "")
			continue;

		curLine = curLine.split(" ");

		if (curLine.length != 3)
			continue;

		if (curLine[0] != "config" && !inConfig)
			continue;

		if (curLine[0] == "config")
		{
			curConfId = confId;
			inConfig = true;
			addConf(pastePackIdS, pasteConfPrefix, pasteIsSubconf);
			$("input[name='"+pasteConfPrefix+".configA"+curConfId.toString()+".Name']").val(removeQuotes(curLine[2]));
			$("input[name='"+pasteConfPrefix+".configA"+curConfId.toString()+".Type']").val(curLine[1]);
		}

		if (curLine[0] == "list")
		{
			var opt = [curLine[1], removeQuotes(curLine[2])];
			addOptionFilled(curConfId, pasteConfPrefix, opt, "appendToList");
		}

		if (curLine[0] == "option")
		{
			var opt = [curLine[1], removeQuotes(curLine[2])];
			addOptionFilled(curConfId, pasteConfPrefix, opt, "normal");
		}
	}

	$("#uciPaste").val('');
	$("#pasteModal").modal('hide');
}

function addOption(confIdS, confPrefixS)
{
	var optIdStr = "opt"+optionId.toString();
	var optString = "";
	var optPrefixName = confPrefixS+".optA"+optionId.toString();
	optString += "<div id='"+optIdStr+"'>";
	optString += "<div class='form-group form-inline'>";
	optString += "<label for='optName'>Name</label>";
	optString += "<input name=\""+optPrefixName+".Name\" id='optName' type='text' class='form-control' placeholder='Option Name'>";
	optString += "<label for='optValue'>Value</label>";
	optString += "<input name=\""+optPrefixName+".Value\" id='optValue' type='text' class='form-control' placeholder='Option Value'>";
	optString += "<select name=\""+optPrefixName+".Type\" id='optType' class='form-control' placeholder='Option Value'>";
	optString += "<option value='normal'>normal</option>";
	optString += "<option value='appendToList'>append to list</option>";
	optString += "<option value='removeFromList'>remove from list</option>";
	optString += "<option value='isList'>Value is a (json) list</option>";
	optString += "</select>";
	optString += "<button class='btn btn-danger btn-sm' style='float:right;' onclick='delOption(\"#"+optIdStr+"\");'><span class='glyphicon glyphicon-remove'></span></button>";
	optString += "</div>";
	optString += "</div>";
	$(confIdS).append(optString);
	optionId++;
};

function addDelOption(confIdS, confPrefixS)
{
	var optIdStr = "opt"+optionId.toString();
	var optPrefixName = confPrefixS+".optD"+optionId.toString();
	var optString = "";
	optString += "<div id='"+optIdStr+"'>";
	optString += "<div class='form-group form-inline'>";
	optString += "<label for='optName'>Name</label>";
	optString += "<input name=\""+optPrefixName+".Name\" id='optName' type='text' class='form-control' placeholder='Option Name'>";
	optString += "<button class='btn btn-danger btn-sm' style='float:right;' onclick='delOption(\"#"+optIdStr+"\");'><span class='glyphicon glyphicon-remove'></span></button>";
	optString += "</div>";
	optString += "</div>";
	$(confIdS).append(optString);
	optionId++;
};


function checkCreate(id)
{
	$("#panel"+id).toggleClass("panel-success");
	$("#panel"+id).toggleClass("panel-warning");
};

function delOption(id)
{
	$(id).remove();
};

function delPanel(id)
{
	$("#panel"+id).remove();
};


function addConfFilled(packIdS, confPrefix, isSubconf, curpackage, confcount)
{
	var curConfId = confId;
	var curconf = curpackage.config[confcount];

	addConf(packIdS, confPrefix, isSubconf);
	$("input[name='"+confPrefix+".configA"+curConfId.toString()+".Name']").val(curconf.matchvalue);
	$("input[name='"+confPrefix+".configA"+curConfId.toString()+".Count']").val(curconf.matchcount);
	$("input[name='"+confPrefix+".configA"+curConfId.toString()+".Type']").val(curconf.ucitype);
	$("select[name='"+confPrefix+".configA"+curConfId.toString()+".matchtype']").val(curconf.matchtype);

	var configAdd = false;

	for(addconfigcount in curpackage.change.add)
	{
		var addconfig = curpackage.change.add[addconfigcount];
		if(addconfig[0]==curconf.matchvalue && addconfig[1]==curconf.ucitype) 
		{
			configAdd = true;
			$("select[name='"+confPrefix+".configA"+curConfId.toString()+".CreateType']").val(addconfig[2]);
			break;
		}
	}

	if(!configAdd)
	{
		$("input[name='"+confPrefix+".configA"+curConfId.toString()+".Add']").prop('checked', false);
		$("input[name='"+confPrefix+".configA"+curConfId.toString()+".Add']").trigger('change');
	}

	for(optcount in curconf.change.add)
	{
		opt = curconf.change.add[optcount];
		if (opt[2] instanceof Array)
			 addOptionFilled(curConfId, confPrefix, opt, "isList");
		else
			 addOptionFilled(curConfId, confPrefix, opt, "normal");
	}
    
	for(optcount in curconf.change.appendToList)
	{
		opt = curconf.change.appendToList[optcount];
		addOptionFilled(curConfId, confPrefix, opt, "appendToList");
	}

	for(optcount in curconf.change.removeFromList)
	{
		opt = curconf.change.removeFromList[optcount];
		addOptionFilled(curConfId, confPrefix, opt, "removeFromList");
	}

	for(optcount in curconf.change.del)
	{
		var curOptId = optionId;
		opt = curconf.change.del[optcount];
		addDelOption("#conf"+curConfId.toString()+"Del",confPrefix+".configA"+curConfId.toString());
		$("input[name='"+confPrefix+".configA"+curConfId.toString()+".optD"+curOptId.toString()+".Name']").val(opt);
	}
};

function addOptionFilled(curConfId, confPrefix, opt, type)
{
	var curOptId = optionId;
	addOption("#conf"+curConfId.toString()+"Add", confPrefix+".configA"+curConfId.toString());
	$("input[name='"+confPrefix+".configA"+curConfId.toString()+".optA"+curOptId.toString()+".Name']").val(opt[0]);
	if (type == "isList")
		$("input[name='"+confPrefix+".configA"+curConfId.toString()+".optA"+curOptId.toString()+".Value']").val(JSON.stringify(opt[1]));
	else
		$("input[name='"+confPrefix+".configA"+curConfId.toString()+".optA"+curOptId.toString()+".Value']").val(opt[1]);
	$("select[name='"+confPrefix+".configA"+curConfId.toString()+".optA"+curOptId.toString()+".Type']").val(type);
}

$(document).ready( function() { 
			var metaconf = JSON.parse(' {{ metaconf | safe }} ');
			if(metaconf.metaconf==undefined)
			{
				console.log("Add Called");
				return;
			}
			console.log("Edit Called");
			metaconf = metaconf.metaconf;
			console.log(metaconf);
			for(package in metaconf.packages)
			{
				curpackage = metaconf.packages[package];
				var curPackId = packageId;
				addPackage();
				$("input[name='packageA"+curPackId.toString()+".Name']").val(curpackage.matchvalue);
				if($.inArray(curpackage.matchvalue,metaconf.change.add)<0)
				{
					$("input[name='packageA"+curPackId.toString()+".Add']").prop('checked', false);
					$("input[name='packageA"+curPackId.toString()+".Add']").trigger('change');
				}
				for(confcount in curpackage.config)
				{
					var confIdStr = "packageA"+curPackId.toString();
					var curPackIdStr = "#pack"+curPackId.toString()+'Add';
					var curconf = curpackage.config[confcount];
					var curConfId = confId;
					do {
						addConfFilled(curPackIdStr, confIdStr, false, curpackage, confcount);
						curPackIdStr = "#conf"+curConfId.toString()+'Next';
						confIdStr = confIdStr+'.configA'+curConfId.toString();
						curconf = curconf.next;
					} while(curconf != "")
				}
				for(delconfcount in curpackage.change.del)
				{
					delconf = curpackage.change.del[delconfcount];
					var curDelConfId = delConfId;
					delConf(curPackId);
					$("input[name='packageA"+curPackId.toString()+".configD"+curDelConfId.toString()+".Name']").val(delconf[0]);
					$("input[name='packageA"+curPackId.toString()+".configD"+curDelConfId.toString()+".Type']").val(delconf[1]);
					$("select[name='packageA"+curPackId.toString()+".configD"+curDelConfId.toString()+".DelType']").val(delconf[2]);
				}
			}
			for(delPackCount in metaconf.change.del)
			{
				var delPack = metaconf.change.del[delPackCount];
				var curDelPackId = delPackageId;
				delPackage();
				$("input[name='packageD"+curDelPackId.toString()+".Name']").val(delPack);
			}
		})

</script>
<p>
<form method="POST">
<div class="panel panel-default">
  <div class="panel-heading">
  	<h4>Template</h4>
  </div>
  <div class="panel-body">
	<input name='templateName' id='optName' type='text' class='form-control' placeholder='Template Name' value='{{ templateName }}'>
	<button type="button" class="btn btn-success" onclick="addPackage();" >Add Package</button>
	<button type="button" class="btn btn-danger" onclick="delPackage();" >Del Package</button>
	<div id="metaconf">
	<div id="metaconfAdd">
	</div>
	<div id="metaconfDel">
	</div>
	</div>
  </div>
</div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<datalist id='mclist'>
<option value='all'>
<option value='1'>
<option value='2'>
<option value='3'>
<option value='4'>
</datalist>

<!-- Modal for pasting UCI Conf -->
<div class="modal fade" id="pasteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Paste UCI Config</h4>
      </div>
      <div class="modal-body">
      <form id="pasteModalForm">
        <textarea class="form-control" rows="15" id="uciPaste"></textarea>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="AddConfPasteApply();">Insert Config</button>
      </div>
    </div>
  </div>
</div>

</p> <!-- end main condainer -->
{% endblock %}
